NEXT_PUBLIC_SUPABASE_URL="https://bkhyvecbsfitmmbpxmwo.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJraHl2ZWNic2ZpdG1tYnB4bXdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NzU1NjMsImV4cCI6MjA4ODA1MTU2M30.WOr2vR8u6UeuxaSQ36fGATiL9kyhNxHEhM-s8g0KKjg"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJraHl2ZWNic2ZpdG1tYnB4bXdvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQ3NTU2MywiZXhwIjoyMDg4MDUxNTYzfQ.hLsLJASm1PusutlJ8DgApgVRM5ptK63MafB0UPEv-_o"
